.background-partners-upper {
  background-image: url("../../icons/our-partners/upper-circle.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-partners-left {
  background-image: url("../../icons/our-partners/left-circle.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-partners-right {
  background-image: url("../../icons/our-partners/right-circle.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
