.our_process {
  height: 47.5%;
  width: 46%;
}
.our-process-background {
  background-image: url(../../icons/our-process/background.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: left;
}

.shadow-our-process {
  -webkit-box-shadow: inset 8px 8px 0px 62px rgba(249, 251, 252, 1);
  -moz-box-shadow: inset 8px 8px 0px 62px rgba(249, 251, 252, 1);
  box-shadow: inset 8px 8px 0px 62px rgba(249, 251, 252, 1);
}

/* .img-our-process {
} */
