/* styles.css */

/* Изменение изображения кнопки "Назад" */
.swiper {
  border: 1px solid #96bad0; /* Бордер шириной 1px и цвета #96BAD0 */
  border-radius: 20px; /* Скругления блока */
  background-color: #edf2f7; /* Фоновый цвет */
  overflow: hidden;
}
@media (max-width: 768px) {
  .swiper {
    overflow: visible;
  }
}
.swiper-button-prev {
  width: 40px;
  height: 40px;
  content: url("../../../src/icons/swiper-main/button.svg");
  background-color: #fff;
  border-radius: 50%;
  transition: all, 0.3s;
}
.swiper-button-prev:hover {
  width: 40px;
  height: 40px;
  border: 1px solid #2d3748;
  border-radius: 50%;
  transition: all, 0.3s;
}
.swiper-button-prev:active {
  border: 1px solid #2d3748;
  border-radius: 50%;
  transition: all, 0.3s;
}
/* Изменение изображения кнопки "Вперед" */
.swiper-button-next {
  width: 40px;
  height: 40px;
  transform: rotate(180deg);
  content: url("../../../src/icons/swiper-main/button.svg");
  background-color: #fff;
  border-radius: 50%;
}
.swiper-button-next:hover {
  border: 1px solid #2d3748;
  border-radius: 50%;
  transition: all, 0.3s;
}
.swiper-button-next:active {
  border: 1px solid #2d3748;
  border-radius: 50%;
  transition: all, 0.3s;
}
@media (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}

.swiper-pagination-bullet-active {
  background-color: #00a3c4; /* Новый цвет для активной точки пагинации */
}

/* Изменение цвета неактивных точек пагинации */
.swiper-pagination-bullet {
  background-color: #00a3c4; /* Новый цвет для неактивных точек пагинации */
}
@media (max-width: 768px) {
  .swiper-pagination {
    transform: translateY(100%);
    position: relative;
  }
}

@media (min-width: 768px) {
  .SwiperSlide-1 {
    background-image: url("../../icons/swiper-main/shape-first.png"); /* Замените 'your-image-url.jpg' на URL вашего изображения */
    background-repeat: no-repeat; /* Предотвращает повторение изображения */
    background-position: center bottom; /* Располагает изображение по центру и внизу */
  }
  .SwiperSlide-2 {
    background-image: url("../../icons/swiper-main/shape-second.png"); /* Замените 'your-image-url.jpg' на URL вашего изображения */
    background-repeat: no-repeat; /* Предотвращает повторение изображения */
    background-position: center bottom; /* Располагает изображение по центру и внизу */
  }
  .SwiperSlide-3 {
    background-image: url("../../icons/swiper-main/shape-third.png"); /* Замените 'your-image-url.jpg' на URL вашего изображения */
    background-repeat: no-repeat; /* Предотвращает повторение изображения */
    background-position: center bottom; /* Располагает изображение по центру и внизу */
  }
}
