.moduleInDevelopment {
  border-radius: 16px;
  border-color: #a1c2d5;

  /* width: 398px; */
  top: -67px;
  right: -375px;
}

.moduleInDevelopment1 {
  border-radius: 16px;
  border-color: #a1c2d5;
  z-index: 49;
  width: 398px;
  top: -67px;
  right: -375px;
}

.moduleInDevelopment-2 {
  border-radius: 16px;
  border-color: #a1c2d5;
  z-index: 30;
  width: 398px;
  top: -67px;
  right: -375px;
}
/* .padding-button-info {
  padding-top: 10px;
  padding-bottom: 10px;
} */
