.background-best-solutions {
  background-image: linear-gradient(to right, #39475c, #576e90);
}
.background-img-best-solutions {
  background-image: url("../../icons/best-solution/background.png");
  background-position: center bottom;
  background-repeat: no-repeat;
}

.margin-partners {
  margin-top: -20px;
  background-image: url("../../icons/our-partners/background.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
}
