.button-ChatAndCall {
  box-shadow: 0px 6px 11px 4px #05445012;
  box-shadow: 0px 2px 3px 0px #0544500d;
}

@media (hover: hover) {
  .button-ChatAndCall:hover {
    transition-property: background-color; /* применять анимацию только к цвету фона */
    transition-duration: 200ms; /* продолжительность анимации в миллисекундах */
    background-color: #cef3fb; /* цвет фона при наведении */
  }
  .button-ChatAndCall_main:hover {
    transition-property: background-color; /* применять анимацию только к цвету фона */
    transition-duration: 200ms; /* продолжительность анимации в миллисекундах */
    background-color: #cef3fb; /* цвет фона при наведении */
  }
}
@media (hover: none) {
  .button-ChatAndCall:active {
    transition-property: background-color; /* применять анимацию только к цвету фона */
    transition-duration: 200ms; /* продолжительность анимации в миллисекундах */
    background-color: #cef3fb; /* цвет фона при наведении */
  }
  .button-ChatAndCall_main:active {
    background-color: #fff; /* цвет фона при наведении */
  }
}
