@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "PT Root UI";
    font-weight: 700;
    src: url("../public/fonts/pt-root-ui_bold.woff2");
  }
  @font-face {
    font-family: "PT Root UI";
    font-weight: 400;
    src: url("../public/fonts/pt-root-ui_regular.woff2");
  }
  @font-face {
    font-family: "PT Root UI";
    font-weight: 500;
    src: url("../public/fonts/pt-root-ui_medium.woff2");
  }
}
