.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%; /* или нужная вам ширина */
  margin: 0 auto; /* делаем блок по центру горизонтально */
  padding: 0 20px; /* Отступы по бокам */
  box-sizing: border-box; /* Учитываем отступы внутри ширины */
}
@media (max-width: 1024px) {
  .navbar-close {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%; /* или нужная вам ширина */
    margin: 0 auto; /* делаем блок по центру горизонтально */
    padding: 0 20px; /* Отступы по бокам */
    box-sizing: border-box; /* Учитываем отступы внутри ширины */
  }
  .navbar-open {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%; /* или нужная вам ширина */
    margin: 0 auto; /* делаем блок по центру горизонтально */
    padding: 0 20px; /* Отступы по бокам */
    box-sizing: border-box; /* Учитываем отступы внутри ширины */
    height: 100vh;
  }
}

.my-motion-div {
  transition: all 0.01s ease-in-out;
}
