.security-systems-border {
  width: 100%;
  border: 1px solid #a1c2d5; /* Цвет границы */
  border-radius: 4%; /* Скругление углов */
  overflow: hidden; /* Скрытие за пределами содержимого */
}
.security-systems-margin-top {
  margin-top: -15px;
}
