.background-security-systems {
  /* background-image: url("../../icons/security-systems/union.svg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto; */
}
.security-pading {
  padding-left: 6%;
  padding-right: 6%;
  /* padding-top: 3%; */
  /* padding-bottom: 30%; */
}

.security-pading-h {
  padding-left: 6%;
  padding-right: 6%;
  /* padding-top: 3%;
  padding-bottom: 17%; */
}
.security-translate-down {
  transform: translate(0, 10%);
}
.security-translate {
  transform: translate(0, -50%);
}

@media (max-width: 1024px) {
  .security-margin {
    margin-top: -100px;
  }
}
